body {
  font-family: "Helvetica Neue", Helvetica;
  width: 100%;
  height: 100%;
  background-color: #161616;
  margin: 0;
  color: white;
  overflow: hidden; # auto
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card {
  width: 87px;
  height: 124px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  background-color: red;
  background-image: url(../img/front1.jpg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: green;
  background-image: url(../img/back.jpg);
}

/*  OPCJE MENU */
.option {
  margin: 20 auto;
  padding: 10px 40px 10px 40px;
  width: 370px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: black;
  border: 3px solid blue;
  border-radius: 15px;
}

.option_text {
  width: 230px;
  float: left;
  font-weight: bold;
}

.option_img_1 {
  width: 70px;
  height: 70px;
  float: left;
}

.option_img_2 {
  width: 70px;
  height: 70px;
  margin-left:auto;
  margin-right:0;
}

/* GRACZE i VS */

.gracze_vs {
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.gracz1, .gracz2, .vs {
  float: left;
}

.gracz1, .gracz2 {
  font-size: 30px;
  width: 200px;
  height: 300px;
  text-align: center;
}

.vs {
  width: 200px;
  height: 300px;
  font-size: 70px;
  text-align: center;
  line-height: 300px;
}

.gracz_wybor {
  visibility: hidden;
}

.gracz_nazwa {
  margin-bottom: 100px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.graczy_wybor_txt {
  margin-top: 50px;
}

.gracz_img {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.choices {
  display: none;
  margin-top: 100px;
  text-align: center;
}

.choice {
  margin: 10px 50px;
  display: inline-block;
}

.big_msg {
  position: relative;
  top: 200px;
  width: 550px;
  height: 100px;
  line-height: 100px;
  font-size: 70px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  background-color: darkgreen;
  display: inline-block;
  margin: 0 auto;
}